################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TPFinalNivel3SterzerNicolas.sln
